<!DOCTYPE html>
<html>
    <head>
        <title>Github WebApp with VueJS</title>

        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="//cdn.muicss.com/mui-0.9.31/css/mui.min.css">

        <style>
            body {
                font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
            }
            .spacer {
                width: 100%;
            }
            .spacer.spacer-20 {
                margin-top: 20px;
            }
        </style>

    </head>
    <body>
        <div id="app"></div>
    </body>
</html>