<div class="mui-row">
    <div class="spacer spacer-20"></div>
    <div class="mui-col-xs-12 mui-col-lg-10 mui--text-right">
        <div class="mui-textfield">
            <input type="text" ng-model="vm.search" placeholder="Type a nickname">
        </div>
    </div>
    <div class="mui-col-xs-12 mui-col-lg-2 mui--text-center">
        <button ng-disabled="!vm.search" ng-click="vm.searchUser()" class="mui-btn mui-btn--flat mui-btn--primary">
            Search
        </button>
    </div>
</div>